/* Тут у нас лежат глобальные стили. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Шрифт такой основной, поэтому кидаем сюда. В частных случаях описываем по блокам */
  font-family: 'JetBrains Mono';
  font-style: normal;
}

.section {
  width: 100%; /* Немного адаптива, проверяйте mobile размеры через инструменты разработчика */
  min-width: 330px; /* При таком размере остаётся читаемым текст формы feedback, остальное не проверено */
  padding: 50px 20px;
}
